:root {
  --radius: 0.625rem;
  --background: oklch(0.97 0.005 300);
  --foreground: oklch(0.21 0.05 305);
  --card: oklch(0.99 0 0);
  --card-foreground: oklch(0.21 0.05 305);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0.21 0.05 305);
  --primary: oklch(0.42 0.07 305);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.87 0.03 305);
  --secondary-foreground: oklch(0.21 0.05 305);
  --muted: oklch(0.87 0.02 305);
  --muted-foreground: oklch(0.55 0.03 305);
  --accent: oklch(0.87 0.03 305);
  --accent-foreground: oklch(0.21 0.05 305);
  --destructive: oklch(0.65 0.22 15);
  --border: oklch(0.87 0.02 305);
  --input: oklch(0.87 0.02 305);
  --ring: oklch(0.42 0.07 305);
  --chart-1: oklch(0.42 0.07 305);
  --chart-2: oklch(0.65 0.22 15);
  --chart-3: oklch(0.82 0.15 95);
  --chart-4: oklch(0.55 0.03 305);
  --chart-5: oklch(0.52 0.08 95);
  --sidebar: oklch(0.97 0.005 300);
  --sidebar-foreground: oklch(0.21 0.05 305);
  --sidebar-primary: oklch(0.42 0.07 305);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.87 0.03 305);
  --sidebar-accent-foreground: oklch(0.21 0.05 305);
  --sidebar-border: oklch(0.87 0.02 305);
  --sidebar-ring: oklch(0.42 0.07 305);
}

.dark {
  --background: oklch(0.13 0.05 305);
  --foreground: oklch(0.97 0.005 300);
  --card: oklch(0.16 0.05 305);
  --card-foreground: oklch(0.97 0.005 300);
  --popover: oklch(0.16 0.05 305);
  --popover-foreground: oklch(0.97 0.005 300);
  --primary: oklch(0.65 0.08 305);
  --primary-foreground: oklch(0.16 0.05 305);
  --secondary: oklch(0.22 0.05 305);
  --secondary-foreground: oklch(0.97 0.005 300);
  --muted: oklch(0.22 0.05 305);
  --muted-foreground: oklch(0.65 0.08 305);
  --accent: oklch(0.22 0.05 305);
  --accent-foreground: oklch(0.97 0.005 300);
  --destructive: oklch(0.65 0.22 15);
  --border: oklch(0.25 0.05 305);
  --input: oklch(0.25 0.05 305);
  --ring: oklch(0.65 0.08 305);
  --chart-1: oklch(0.65 0.08 305);
  --chart-2: oklch(0.65 0.22 15);
  --chart-3: oklch(0.82 0.15 95);
  --chart-4: oklch(0.55 0.03 305);
  --chart-5: oklch(0.52 0.08 95);
  --sidebar: oklch(0.16 0.05 305);
  --sidebar-foreground: oklch(0.97 0.005 300);
  --sidebar-primary: oklch(0.65 0.08 305);
  --sidebar-primary-foreground: oklch(0.16 0.05 305);
  --sidebar-accent: oklch(0.22 0.05 305);
  --sidebar-accent-foreground: oklch(0.97 0.005 300);
  --sidebar-border: oklch(0.25 0.05 305);
  --sidebar-ring: oklch(0.65 0.08 305);
}
